# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Render / Logs
server_log.txt
*.log
