# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# MacOS
.DS_Store

# Java (keeping previous ignores just in case)
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
